@charset "UTF-8";

body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
   
}

header {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.25), rgba(255, 255, 0, 0.25));
    padding: 10px;
    width: 100vw;
}
main {
    height: 80vh;
    width: 100vw;

}

div {
    display: inline-table;
    height: 500px;
    width: 100vw;
    padding: 10px;

}

#especial {
    background-image: url(imagens/Manuscritos.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px -20px 30px -20px ;
    position: relative;
}

#especial > iframe {
    position: absolute;
    left: 45%;
    top: 12%;
    height: 70%;
    width: 50%;

}

div p {
    background-color: rgba(255, 255, 255, 0.401);
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7em;
    padding: 10px;
    margin-top: 50px;
    height: 37vh;
    width: 40vw;
    font-size: 1.4em;
    font-variant: small-caps;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.269);
    text-transform: capitalize ;
}
